<!DOCTYPE html>
<html>
    <head>
        <title>CampNow</title>
        <link rel = "icon" href = "https://i.ibb.co/9v5KQfw/Group-1-2.png" sizes="16x16" type = "image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        <i class="fab fa-gripfire"></i>
                        CampNow
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav mr-auto">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                          </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/campgrounds">Campgrounds</a>
                        </li>
                      </ul>

                      <ul class="navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li class="nav-item"><a class="nav-link" href="/register"><i class="fas fa-sign-in-alt"></i> Sign Up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-lock-open"></i> Login</a></li>
                        <% } else{ %>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-user"></i> <b><%= currentUser.username %></b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                            </li>
                        <% } %>
                    </ul>
                    </div>
                  </nav>

                <div class="container" style="margin-top: 15px;">

                    <% if(error && error.length > 0){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                    
                    <% if(success && success.length > 0){ %>
                        <div class="alert alert-success">
                                <%= success %>
                        </div>
                    <% } %>
                </div>
                