<% include ../partials/header %>

<% if(currentUser && currentUser.isAdmin) { %>
<div class="text-center">
    <a>Welcome, admin :)</a>
</div>
<% } %>

<div class="container" style="margin-top: 2.5em;">
    <header class="jumbotron">
        <div class="container text-center">
        
            <h1 class="heading1"><i class="fab fa-gripfire"></i> Welcome To CampNow</h1>
            <p class="heading2">Explore the best campgrounds in the world</p>
            <p>
                <a class="btn btn-outline-info" href="/campgrounds/new">Add New Campground</a>
            </p>
            
            
        </div>
    </header>

<div class="row text-center" style="display:flex; flex-wrap: wrap">
    <% campgrounds.forEach(function(campground){ %>
        
        <div class="list1 col-lg-4 col-sm-6">
                <a href="/campgrounds/<%= campground._id %>">
                   <img id="imgs" src="<%= campground.image%>" class="img-thumbnail">
                </a>
                <div class="caption">
                    <h4>  <%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        
     <% }); %>
</div>
</div>




<% include ../partials/footer %>